@mixin raindrop($i, $height, $top, $left, $bgx, $bgy, $adelay, $shadowblur) {
  $width: $height * 0.85;

  .raindrop-#{$i} {
    margin-top: 0;
    position: absolute;
    top: $top;
    left: $left;
    animation: {
      name: gauge-barometer-raindrop-drip;
      delay: $adelay;
      duration: 8s;
      timing-function: ease-out;
      iteration-count: infinite;
    }

    .border {
      height: $height;
      animation-delay: $adelay;
      width: $width * 0.6;
      box-shadow: 0 0 0 $shadowblur $color-dark;
    }

    .raindrop {
      margin-left: -2px;
      margin-top: -1px;
      border-radius: 100%;
      height: $height;
      animation-delay: $adelay;
      width: $width;
      background-position: $bgx $bgy;
    }
  }
}
